@model SMCTWebTemplate.Model.ForecastResponse;
@using System.Globalization;
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">สุราษฎร์ธานี</h1>
    <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-2">
            <div class="card card-shadow">
                <h3 class="p-0 m-0">อากาศปัจจุบัน</h3>
                <div class="caption d-flex justify-content-start font-small pb-2">
                    <div class="d-flex font-mute font-tiny text-dark2" id="currentWeatherRecordTime">
                        <div id="pm25" class="pl-4 px-3 py-2"><h5>PM2.5 <span class="badge fw-bold">@Model.PMResponse.data.current.pollution.aqius</span></h5></div>
                    </div>
                </div>

                <div class="card card-nohover px-3 py-2" style="border:none;" id="banner-currentweather">
                    <h1 class="d-flex justify-content-between">
                        <img id="weatherIcon" class="" src="https://tmd.go.th/CustomTheme3/@Model.Weather3HourResponse.weather3Hour.currentPhenomenonImage" height="56" width="56">
                        <span id="temperature" class="">28°</span>
                    </h1>
                    <p class="font-tiny" id="phenomenonText">@Model.Weather3HourResponse.weather3Hour.currentPhenomenonText</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-9 col-lg-10">
            <div class="d-flex w-100 justify-content-between p-2">
                <div class="bold-18">พยากรณ์อากาศ 7 วันข้างหน้า</div>
            </div>

            <div id="weather7days" class="py-8px">
                <div class="fix_conn">
                    <div class="conn ps-2 ">
                        <div class="row justify-content-around text-center g-3">
                            @foreach (var item in Model.WeatherForecast7DayResponse)
                            {
                                <div class="card card-shadow text-center">
                                    <div class="today-header">
                                        <div class="font-small text-dark1">
                                            @item.weatherForecast7Day.display_recordTime1
                                            </div>
                                        <div class="font-tiny text-dark2">@item.weatherForecast7Day.display_recordTime2</div>
                                    </div>
                                    <div class="d-flex sub-heading justify-content-center align-items-center pb-2">
                                        <img src="https://tmd.go.th/CustomTheme3/@item.weatherForecast7Day.weatherTypeImagePath" title="ฝน" alt="ฝน" height="40" width="40">
                                        <div class="text-light2">|</div>
                                        <img src="https://tmd.go.th/CustomTheme3/@item.weatherForecast7Day.waveTypeImage" title="สงบ" alt="สงบ" height="32" width="32">
                                    </div>
                                    <div class="d-flex justify-content-around sub-heading">
                                        <div>
                                            <img height="12" alt="อุณหภูมิสูงสุด" title="อุณหภูมิสูงสุด" src="~/images/tmax.svg">@item.weatherForecast7Day.maxTemperature
                                        </div>
                                        <div class="text-light2">|</div>
                                        <div>
                                            <img height="12" alt="อุณหภูมิต่ำสุด" title="อุณหภูมิต่ำสุด" src="~/images/tmin.svg">@item.weatherForecast7Day.minTemperature
                                        </div>
                                    </div>
                                    <div class="font-tiny text-center">ฝน</div><div class="font-tiny text-center">@item.weatherForecast7Day.rainAreaText</div>
                                    <div class="m-0">
                                        <span id="windDirectionNE">
                                            <img src="https://tmd.go.th/CustomTheme3/@item.weatherForecast7Day.windDirectionImagePath" height="12" width="12">
                                        </span>
                                        <span class="font-tiny ps-1">@item.weatherForecast7Day.windSpeed กม./ชม.</span>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
